section.section-pricing#section6.section
    .container.grid.style-size-70
        .pricing-info.grid
            .block-left
                img.block-left--img(src="assets/images/ifone.png")
                img.block-left--img480(src="assets/images/ifone480.png")
                img.block-left--img390(src="assets/images/ifone390.png")
            .block-right
                .section-block--title.block--style-width
                    h2.section-title Excellent for Mobile Devices.
                    .section-text.block--style-width Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                                                    |nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. 
                                                    |Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                    .section-text-item-wrp
                        .section-text-item.section-text
                            .section-text--svg-wrp
                                svg.section-text--svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="10px" height="10px"
                                        viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve")
                                    g
                                        g
                                            path(d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z")
                            |Nam liber tempor cum soluta nobis eleifend option;
                        .section-text-item.section-text
                            .section-text--svg-wrp
                                svg.section-text--svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="10px" height="10px"
                                        viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve")
                                    g
                                        g
                                            path(d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z")
                            |Option congue nihil imperdiet doming id quod mazim placerat facer;
                        .section-text-item.section-text
                            .section-text--svg-wrp
                                svg.section-text--svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="10px" height="10px"
                                        viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve")
                                    g
                                        g
                                            path(d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z")
                            |Eodem modo typi, qui nunc nobis videntur parum futurum;
                        .section-text-item.section-text
                            .section-text--svg-wrp
                                svg.section-text--svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="10px" height="10px"
                                        viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve")
                                    g
                                        g
                                            path(d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z")
                            |Investigationes demonstraverunt lectores
    .block-number
         .container.style-height.grid
            ul.number-list.grid
                li.number-item
                    .number-svg
                        svg.svg-capa(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 85.988 85.987" style="enable-background:new 0 0 85.988 85.987;"
        xml:space="preserve")
                            g
                                path(d="M77.993,30.884c-2.692,0-4.878,2.185-4.878,4.868c0,2.685,2.186,4.867,4.878,4.867c2.683,0,4.867-2.183,4.867-4.867C82.86,33.069,80.675,30.884,77.993,30.884z M8.005,30.884c-2.692,0-4.878,2.185-4.878,4.868c0,2.685,2.186,4.867,4.878,4.867c2.685,0,4.87-2.183,4.87-4.867C12.875,33.069,10.69,30.884,8.005,30.884z M63.504,22.03c-3.997,0-7.239,3.25-7.239,7.25c0,3.992,3.242,7.236,7.239,7.236c3.998,0,7.25-3.244,7.25-7.236C70.754,25.284,67.502,22.03,63.504,22.03z M85.988,66.088h-8.254V50.896c0-2.61-0.767-5.033-1.999-7.146c0.726-0.212,1.471-0.363,2.258-0.363c4.401,0,7.995,3.594,7.995,8.006V66.088z M22.483,22.03c-4,0-7.25,3.25-7.25,7.25c0,3.992,3.25,7.236,7.25,7.236c3.987,0,7.237-3.244,7.237-7.236C29.72,25.284,26.471,22.03,22.483,22.03z M8.005,43.387c0.787,0,1.522,0.15,2.25,0.363c-1.245,2.113-1.999,4.536-1.999,7.146v15.192H0V51.393C0,46.98,3.596,43.387,8.005,43.387zM42.986,7.555c-5.9,0-10.71,4.805-10.71,10.711c0,5.905,4.805,10.716,10.71,10.716c5.906,0,10.717-4.811,10.717-10.716C53.708,12.359,48.892,7.555,42.986,7.555z M75.083,71.742H62.438V48.627c0-3.179-0.839-6.136-2.195-8.787c1.035-0.306,2.123-0.523,3.262-0.523c6.38,0,11.578,5.188,11.578,11.579V71.742z M23.537,48.627v23.115H10.908V50.896c0-6.385,5.191-11.579,11.581-11.579c1.139,0,2.216,0.217,3.249,0.523C24.381,42.491,23.537,45.448,23.537,48.627z M26.188,78.433h33.598V48.627c0-9.264-7.539-16.798-16.801-16.798c-9.269,0-16.797,7.534-16.797,16.798V78.433z")
                    .number-numeral.satisfiedClients 0
                    .number-text Satisfied Clients
                li.number-item
                    .number-svg
                        svg.svg-capa(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 21.664 21.665" style="enable-background:new 0 0 21.664 21.665;"
                                xml:space="preserve")
                            g
                                g
                                    path(d="M2.756,20.725h2.95c0.041,0.257,0.254,0.458,0.523,0.458h6.707c0.27,0,0.482-0.2,0.523-0.458h2.95c0.499,0,0.903-0.404,0.903-0.903H1.854C1.854,20.321,2.258,20.725,2.756,20.725z")
                                    path(d="M20.865,11.444c-0.752-0.609-1.811-0.619-2.508-0.542c0.02-0.486,0.031-0.983,0.031-1.5H0c0,4.97,0.752,8.556,5.511,9.894h7.366c1.885-0.529,3.135-1.418,3.964-2.6c1.806-0.035,4.711-0.746,4.82-3.24C21.708,12.364,21.254,11.758,20.865,11.444zM17.598,15.27c0.346-0.889,0.551-1.889,0.664-2.988c0.488-0.08,1.329-0.131,1.754,0.215c0.078,0.064,0.321,0.262,0.293,0.901C20.252,14.69,18.648,15.124,17.598,15.27z")
                                    path(d="M7.491,8.704c0,0,3.5-0.257,1.896-3.208c-1.288-2.369-0.994-3.759,0.654-5.015c0,0-5.398,1.375-2.25,5.63C8.946,7.965,7.491,8.704,7.491,8.704z")
                                    path(d="M9.85,8.468c0,0,2.804-0.591,1.278-2.846c-0.554-0.978,0.21-1.327,0.21-1.327s-1.805,0.057-1.043,1.608C10.905,7.15,10.724,7.858,9.85,8.468z")
                    .number-numeral.cupsOfCoffee 0
                    .number-text Cups of coffee 
                li.number-item
                    .number-svg
                        svg.svg-capa(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 576 576" style="enable-background:new 0 0 576 576;" xml:space="preserve")
                            g
                                path(d="M240,32L240,32c132.549,0,240,86.957,240,194.224S372.549,420.448,240,420.448c-12.729,0-25.223-0.81-37.417-2.355C151.03,469.44,91.497,478.647,32,480v-12.567c32.126-15.677,58-44.231,58-76.866c0-4.553-0.356-9.023-1.015-13.396C34.706,341.562,0,287.175,0,226.224C0,118.957,107.452,32,240,32z M498,467.343c0,27.973,18.156,52.449,46,65.886V544c-51.562-1.159-98.893-9.051-143.57-53.062c-10.57,1.324-21.396,2.021-32.43,2.021c-47.734,0-91.704-12.879-126.807-34.521c72.336-0.254,140.629-23.428,192.417-65.336c26.105-21.127,46.697-45.914,61.207-73.675C510.199,289.994,518,258.636,518,226.224c0-5.224-0.225-10.418-0.629-15.584C553.656,240.607,576,281.451,576,326.479c0,52.244-30.078,98.86-77.119,129.383C498.309,459.608,498,463.44,498,467.343z")
                    .number-numeral.pricingPosts 0
                    .number-text pricing posts
                li.number-item
                    .number-svg
                        svg.svg-capa(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                         viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve")
                            g
                                g#Heart_1_
                                    g
                                        path(d="M449.438,38.25c-62.137,0-116.069,34.884-143.438,86.101C278.632,73.134,224.7,38.25,162.562,38.25C72.79,38.25,0,111.04,0,200.812c0,27.521,6.904,53.397,18.972,76.118c0.459,3.442,5.011,10.404,12.794,20.119c4.992,6.771,10.366,13.235,16.313,19.125C121.138,398.431,306,573.75,306,573.75s184.862-175.319,257.92-257.557c5.947-5.909,11.322-12.374,16.313-19.125c7.784-9.716,12.336-16.677,12.795-20.12C605.096,254.209,612,228.333,612,200.812C612,111.04,539.21,38.25,449.438,38.25z M572.852,215.233c-0.173,1.396-0.421,2.773-0.632,4.169c-0.517,3.385-1.128,6.732-1.894,10.021c-0.344,1.435-0.707,2.85-1.09,4.284c-0.918,3.347-1.989,6.636-3.175,9.888c-0.401,1.109-0.784,2.238-1.224,3.347c-1.702,4.265-3.596,8.434-5.737,12.451c-1.588,2.945-3.5,5.68-5.298,8.491c0.058,0.058,0.21,0.268,0.248,0.325c8.09,9.314-235.849,245.909-248.051,254.955C293.798,514.118,49.859,277.523,57.968,268.19c0.039-0.058,0.191-0.268,0.249-0.325c-1.797-2.812-3.71-5.527-5.297-8.492c-2.142-4.016-4.036-8.186-5.738-12.45c-0.439-1.109-0.822-2.238-1.224-3.347c-1.186-3.232-2.257-6.522-3.175-9.888c-0.383-1.416-0.765-2.831-1.09-4.284c-0.784-3.29-1.396-6.617-1.913-10.002c-0.21-1.396-0.459-2.773-0.631-4.169c-0.536-4.743-0.899-9.543-0.899-14.42C38.25,132.154,93.904,76.5,162.562,76.5c5.604,0,11.073,0.497,16.486,1.224c1.377,0.191,2.735,0.401,4.112,0.631c4.934,0.823,9.773,1.875,14.478,3.251c0.402,0.115,0.822,0.191,1.224,0.306c5.202,1.588,10.213,3.577,15.089,5.795c0.918,0.421,1.817,0.88,2.735,1.32c4.399,2.142,8.664,4.514,12.756,7.134l0.058-0.536c0,0,5.47,4.055,13.407,10.576c0.344,0.287,0.727,0.517,1.071,0.803c0.229,0.191,0.44,0.402,0.65,0.593c16.562,13.751,43.146,37.81,61.372,64.528c18.227-26.718,44.81-50.777,61.372-64.509c0.21-0.191,0.421-0.401,0.65-0.593c0.344-0.287,0.727-0.516,1.071-0.803C377.03,99.68,382.5,95.625,382.5,95.625l0.058,0.536c4.093-2.62,8.357-4.992,12.756-7.134c0.918-0.44,1.817-0.899,2.735-1.32c4.877-2.218,9.888-4.207,15.09-5.795c0.401-0.114,0.822-0.191,1.224-0.306c4.705-1.377,9.562-2.429,14.478-3.251c1.357-0.229,2.716-0.44,4.112-0.631c5.412-0.727,10.882-1.224,16.485-1.224c68.659,0,124.312,55.654,124.312,124.312C573.75,205.689,573.406,210.49,572.852,215.233z")
                    .number-numeral.likes 0
                    .number-text Likes     
                li.number-item
                    .number-svg
                        svg.svg-capa(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 615.584 615.584" style="enable-background:new 0 0 615.584 615.584;"
                                xml:space="preserve")
                            g
                                path(d="M479.787,454.142h-22.223c-11.368,0-14.26-6.115-14.914-10.382c0-1.024-0.057-2.418-0.114-4.067l0,0l0,0c-0.758-22.31-6.466-98.873-48.789-159.429l0.199-0.009l-4.893-8.291c-0.521-3.053-0.341-7.485,7.14-1.261c36.682,31.61,90.923,91.81,94.033,173.986C490.018,448.254,488.443,454.142,479.787,454.142L479.787,454.142z M359.445,187.904c-0.076,3.518-1.423,16.497-17.701,14.98c-0.901-0.085-1.489-0.057-2.086-0.028c-10.468-1.29-21.029-2.152-31.866-2.152c-12.325,0-24.366,1.19-36.255,2.873c-0.825-0.038-1.773,0-2.949,0.147c-12.922,1.531-15.179-6.566-15.492-10.723v-20.048c0-15.492,12.543-28.054,28.045-28.054h50.278c15.492,0,28.045,12.562,28.045,28.054v14.952H359.445L359.445,187.904zM600.87,454.359h-14.563c-17.644,0-16.971-16.829-16.971-16.829s-0.114,0.038-0.143,0.038c-9.822-98.797-74.18-181.334-162.608-217.286c-0.247-0.124-0.427-0.251-0.683-0.365c-14.336-6.271-14.677-20.322-14.677-20.322v-37.706c0-24.291-19.683-44.011-43.992-44.011H268.36c-24.29,0-44.001,19.721-44.001,44.011v43.309c-0.398,3.631-2.545,9.661-11.927,13.625c-0.598,0.27-1.057,0.521-1.541,0.739C121.717,255.03,56.592,337.7,46.448,436.876l-0.119-0.038c0,0-1.456,17.521-18.194,17.521H17.246C13.785,454.436,0,455.648,0,469.852v11.377c0.204,4.873,2.323,16.478,18.284,16.478h578.329c15.813,0,18.563-10.239,18.971-15.358v-11.577C615.584,457.1,605.819,454.691,600.87,454.359L600.87,454.359z")
                    .number-numeral.weLaunched 0
                    .number-text We launched 
